
//
// VARIABLES
//

// Colors
$blue: #72bcd4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #999999;
$gray: #d9d9d9;
$lightGray: #eee;
$white: #fff;
$myGreen: #cce3c3;
$myBlue: #009999;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$myFont: "Monaco", "Lucida Console", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
